.account-header {
  background-color: #00c4cc; /* Colore verde acqua come da immagine */
  color: white; /* Testo bianco */
  padding: 40px 0;

  h1 {
    font-weight: 600;
  }

  p {
    font-size: 18px;
    margin-top: 5px;
    color: #e0f7fa;
  }

  .nav-link {
    background-color: white;
  }

  .nav-link.active {
    background-color: white;
    border-radius: 20px;
  }

  .btn-light {
    border-radius: 20px;
    font-weight: bold;
  }
}
