<div class="color-bg">
  <div class="account-header text-white p-4">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-8">
          <h1 class="text-light m-0">
            {{ userForm.get("nome")?.value }}
            {{ userForm.get("cognome")?.value }}
          </h1>
          <p>{{ userForm.get("email")?.value }}</p>
        </div>
        <div class="col-12">
          <nav class="nav gap-2">
            <a
              class="nav-link btn color-bg color-text me-2"
              routerLink="/account"
              routerLinkActive="active"
              >Dettaglio account</a
            >
            <a
              *ngIf="userForm.get('ruolo')?.value === 'Ristoratore'"
              class="nav-link btn color-bg color-text me-2"
              routerLink="/account/restaurant"
              routerLinkActive="active"
              >Ristoranti</a
            >
          </nav>
        </div>
      </div>
    </div>
  </div>

  <div
    *ngIf="!isRestaurantRoute()"
    class="account-details container mt-4 p-4 custom-width color-text"
  >
    <h2 class="mb-4">Dettaglio account</h2>
    <form [formGroup]="userForm" (ngSubmit)="onUpdate()">
      <div class="row mb-3">
        <div class="col-md-6">
          <label for="nome" class="form-label">Nome</label>
          <input
            type="text"
            id="nome"
            class="form-control"
            formControlName="nome"
            placeholder="Mario"
          />
        </div>
        <div class="col-md-6">
          <label for="cognome" class="form-label">Cognome</label>
          <input
            type="text"
            id="cognome"
            class="form-control"
            formControlName="cognome"
            placeholder="Rossi"
          />
        </div>
      </div>

      <div class="row mb-3">
        <div class="col-md-6">
          <label for="email" class="form-label">Email</label>
          <input
            type="email"
            id="email"
            class="form-control"
            formControlName="email"
            placeholder="prova@gmail.com"
          />
        </div>
        <div class="col-md-6">
          <label for="telefono" class="form-label">Telefono</label>
          <input
            type="text"
            id="telefono"
            class="form-control"
            formControlName="telefono"
            placeholder="+39 123 456 7890"
          />
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-12">
          <label for="password" class="form-label">Password </label>
          <input
            type="password"
            id="password"
            class="form-control"
            formControlName="password"
            placeholder="Inserisci nuova password "
          />
        </div>
      </div>

      <div class="row mb-3">
        <div class="col-md-12">
          <label class="form-label">Ruolo</label>
          <div class="custom-radio">
            <label>
              <input type="radio" formControlName="ruolo" value="Ospite" />
              <span class="custom-radio-btn"></span>
              Ospite
            </label>
            <label class="ms-3">
              <input type="radio" formControlName="ruolo" value="Ristoratore" />
              <span class="custom-radio-btn"></span>
              Ristoratore
            </label>
          </div>
        </div>
      </div>

      <button type="submit" class="btn btnColor mt-4">Aggiorna dati</button>
    </form>
    <div
      class="delete-account mt-5 p-4 border rounded"
      *ngIf="userForm.get('ruolo')?.value === 'Ospite'"
    >
      <h3>Elimina account</h3>
      <p>
        Digita "CANCELLA" nella casella qui sotto per inviarci la tua richiesta
        di eliminazione dell'account.
      </p>
      <p>
        Dopo aver inviato la richiesta, non potrai più fare il login, accedere
        al credito o ripristinare il tuo account.
      </p>
      <p>L'eliminazione dell'account è definitiva.</p>

      <form [formGroup]="deleteAccountForm" (ngSubmit)="onDeleteAccount()">
        <div class="form-group">
          <label for="confirmDelete">Digita "CANCELLA"</label>
          <input
            type="text"
            id="confirmDelete"
            class="form-control"
            formControlName="confirmDelete"
            placeholder="Digita 'CANCELLA'"
          />
        </div>

        <button
          type="submit"
          class="btn btn-danger mt-3"
          [disabled]="
            deleteAccountForm.get('confirmDelete')?.value !== 'CANCELLA'
          "
        >
          Elimina l'account per sempre
        </button>
      </form>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
