.account-header {
  background-color: #00c4cc;
  color: white;
  padding: 40px 0;

  p {
    font-size: 18px;
    margin-top: 5px;
    color: #e0f7fa;
  }

  .nav-link {
    background-color: white;
    border-radius: 20px;
  }
}
.delete-account {
  padding: 20px;
  border: 1px solid #e5e5e5;
  border-radius: 8px;
}
