<div class="container mt-5">
  <div class="row">
    <div class="col-lg-8">
      <h2 class="mb-4 colorDel fw-bold d-inline-block">
        {{ "RISTO.YOUR_RESTAURANTS" | translate }}
      </h2>
      <button
        class="btn colorDelbg text-light fw-bold d-lg-none float-end"
        data-bs-toggle="modal"
        data-bs-target="#createRestaurantModal"
        style="margin-top: -15px"
      >
        {{ "RISTO.ADD_RESTAURANT" | translate }}
      </button>
      <div class="row row-cols-lg-3 row-cols-md-2 row-cols-1">
        <div *ngFor="let ristorante of ristoranti()" class="col mb-4">
          <div
            class="card h-100 shadow-sm position-relative card-hover"
            (click)="navigateToDetails(ristorante.iD_Ristorante)"
          >
            <img
              *ngIf="ristorante.immaginePath"
              [src]="getImageUrl(ristorante.immaginePath)"
              class="card-img-top fixed-size-img"
              alt="Immagine del ristorante"
            />
            <div class="card-body color-bg pb-2 text-center">
              <h5 class="card-title colorDel">{{ ristorante.nome }}</h5>
              <p class="card-text color-text">
                <i class="bx bx-map"></i> {{ ristorante.indirizzo }}
              </p>
            </div>
            <div class="position-absolute top-0 end-0 m-2 d-flex hover-buttons">
              <button
                class="btn btn-danger btn-sm me-2"
                (click)="
                  deleteRestaurant(ristorante.iD_Ristorante!);
                  $event.stopPropagation()
                "
              >
                <i class="bi bi-trash">{{ "RISTO.DELETE" | translate }}</i>
              </button>
              <button
                class="btn btn-secondary btn-sm"
                data-bs-toggle="modal"
                [attr.data-bs-target]="
                  '#editRistoranteModal' + ristorante.iD_Ristorante!
                "
                (click)="$event.stopPropagation()"
              >
                <i class="bi bi-pencil">{{ "RISTO.EDIT" | translate }}</i>
              </button>
            </div>
          </div>
          <div
            class="modal fade"
            [id]="'editRistoranteModal' + ristorante.iD_Ristorante"
            tabindex="-1"
            aria-labelledby="editRistoranteModalLabel"
            aria-hidden="true"
          >
            <div class="modal-dialog">
              <div class="modal-content color-bg color-text">
                <div class="modal-header colorDelbg">
                  <h5 class="modal-title" id="editRistoranteModalLabel">
                    {{ "RISTO.EDIT_RESTAURANT" | translate }} -
                    {{ ristorante.nome }}
                  </h5>
                  <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="modal"
                    aria-label="Close"
                  ></button>
                </div>
                <div class="modal-body">
                  <form>
                    <div class="form-group mb-3">
                      <label
                        for="editRistoranteName{{ ristorante.iD_Ristorante }}"
                        >{{ "RISTO.RESTAURANT_NAME" | translate }}</label
                      >
                      <input
                        [(ngModel)]="ristorante.nome"
                        class="form-control"
                        placeholder="{{ 'RISTO.ENTER_NAME' | translate }}"
                        name="editRistoranteName{{ ristorante.iD_Ristorante }}"
                        [ngModelOptions]="{ standalone: true }"
                      />
                    </div>
                    <div class="form-group mb-3">
                      <label
                        for="editRistoranteIndirizzo{{
                          ristorante.iD_Ristorante
                        }}"
                        >{{ "RISTO.ADDRESS" | translate }}</label
                      >
                      <input
                        [(ngModel)]="ristorante.indirizzo"
                        class="form-control"
                        placeholder="{{ 'RISTO.ENTER_ADDRESS' | translate }}"
                        name="editRistoranteIndirizzo{{
                          ristorante.iD_Ristorante
                        }}"
                        (input)="onInputEdit($event, ristorante)"
                        [ngModelOptions]="{ standalone: true }"
                      />
                      <ul
                        *ngIf="editSuggestions.length > 0"
                        class="list-group mt-2"
                      >
                        <li
                          *ngFor="let suggestion of editSuggestions"
                          (click)="selectEditSuggestion(suggestion, ristorante)"
                          class="list-group-item list-group-item-action"
                        >
                          {{ suggestion.display_name }}
                        </li>
                      </ul>
                    </div>
                    <div class="form-group mb-3">
                      <label
                        for="editRistoranteTelefono{{
                          ristorante.iD_Ristorante
                        }}"
                        >{{ "RISTO.PHONE" | translate }}</label
                      >
                      <input
                        [(ngModel)]="ristorante.telefono"
                        class="form-control"
                        placeholder="{{ 'RISTO.ENTER_PHONE' | translate }}"
                        name="editRistoranteTelefono{{
                          ristorante.iD_Ristorante
                        }}"
                        [ngModelOptions]="{ standalone: true }"
                      />
                    </div>
                    <div class="form-group mb-3">
                      <label
                        for="editRistoranteEmail{{ ristorante.iD_Ristorante }}"
                        >{{ "RISTO.EMAIL" | translate }}</label
                      >
                      <input
                        [(ngModel)]="ristorante.email"
                        class="form-control"
                        placeholder="{{ 'RISTO.ENTER_EMAIL' | translate }}"
                        name="editRistoranteEmail{{ ristorante.iD_Ristorante }}"
                        [ngModelOptions]="{ standalone: true }"
                      />
                    </div>
                    <div class="form-group mb-3">
                      <label
                        for="editRistoranteImmagine{{
                          ristorante.iD_Ristorante
                        }}"
                        >{{ "RISTO.IMAGE" | translate }}</label
                      >
                      <input
                        type="file"
                        class="form-control"
                        (change)="onFileChange($event)"
                      />
                    </div>
                    <div class="form-group mb-3">
                      <label>{{ "RISTO.OPENING_HOURS" | translate }}:</label>
                      <div
                        *ngFor="
                          let orario of ristorante.orariApertura;
                          let i = index
                        "
                        class="mb-3"
                      >
                        <label>{{ daysOfWeek[i] }}:</label>
                        <div class="d-flex">
                          <input
                            type="time"
                            [(ngModel)]="
                              ristorante.orariApertura[i].oraApertura
                            "
                            [name]="'oraApertura' + i"
                            class="form-control me-2"
                            required
                          />
                          <input
                            type="time"
                            [(ngModel)]="
                              ristorante.orariApertura[i].oraChiusura
                            "
                            [name]="'oraChiusura' + i"
                            class="form-control"
                            required
                          />
                        </div>
                      </div>
                    </div>

                    <div class="d-flex justify-content-center">
                      <button
                        type="button"
                        class="btn colorDelbg fw-bold text-light"
                        (click)="updateRistorante(ristorante)"
                        data-bs-dismiss="modal"
                      >
                        {{ "RISTO.SAVE_CHANGES" | translate }}
                      </button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div
      class="modal fade"
      id="createRestaurantModal"
      tabindex="-1"
      aria-labelledby="createRestaurantModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content color-bg color-text">
          <div class="modal-header colorDelbg">
            <h5 class="modal-title text-light" id="createRestaurantModalLabel">
              {{ "RISTO.CREATE_NEW_RESTAURANT" | translate }}
            </h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <form (ngSubmit)="createRestaurant()">
              <div class="mb-3">
                <label for="nome" class="form-label"
                  >{{ "RISTO.NAME" | translate }}:</label
                >
                <input
                  id="nome"
                  [(ngModel)]="newRestaurant.nome"
                  name="nome"
                  class="form-control"
                  required
                />
              </div>
              <div class="mb-3">
                <label for="indirizzo" class="form-label"
                  >{{ "RISTO.ADDRESS" | translate }}:</label
                >
                <input
                  id="indirizzo"
                  [(ngModel)]="searchQuery"
                  name="indirizzo"
                  (input)="onInput($event)"
                  class="form-control"
                  required
                />
                <ul *ngIf="suggestions.length > 0" class="list-group mt-2">
                  <li
                    *ngFor="let suggestion of suggestions"
                    (click)="selectSuggestion(suggestion)"
                    class="list-group-item list-group-item-action"
                  >
                    {{ suggestion.display_name }}
                  </li>
                </ul>
              </div>
              <div class="mb-3">
                <label for="telefono" class="form-label"
                  >{{ "RISTO.PHONE" | translate }}:</label
                >
                <input
                  id="telefono"
                  [(ngModel)]="newRestaurant.telefono"
                  name="telefono"
                  class="form-control"
                  required
                />
              </div>
              <div class="mb-3">
                <label for="email" class="form-label"
                  >{{ "RISTO.EMAIL" | translate }}:</label
                >
                <input
                  id="email"
                  [(ngModel)]="newRestaurant.email"
                  name="email"
                  class="form-control"
                  required
                />
              </div>
              <div class="mb-3">
                <label for="image" class="form-label"
                  >{{ "RISTO.IMAGE" | translate }}:</label
                >
                <input
                  id="image"
                  type="file"
                  (change)="onFileChange($event)"
                  class="form-control"
                />
              </div>
              <div
                *ngFor="
                  let orario of newRestaurant.orariApertura;
                  let i = index
                "
                class="mb-3"
              >
                <label>{{ daysOfWeek[i] }}:</label>
                <div class="d-flex">
                  <input
                    type="time"
                    [(ngModel)]="orario.oraApertura"
                    [name]="'oraApertura' + i"
                    class="form-control me-2"
                    required
                  />
                  <input
                    type="time"
                    [(ngModel)]="orario.oraChiusura"
                    [name]="'oraChiusura' + i"
                    class="form-control"
                    required
                  />
                </div>
              </div>
              <button
                type="submit"
                class="btn colorDelbg text-light fw-bold w-100"
              >
                {{ "RISTO.ADD_RESTAURANT" | translate }}
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-4 d-none d-lg-block color-text">
      <div class="card shadow-sm p-4 color-bg color-text">
        <h2 class="mb-4 colorDel">
          {{ "RISTO.CREATE_NEW_RESTAURANT" | translate }}
        </h2>
        <form (ngSubmit)="createRestaurant()">
          <div class="mb-3">
            <label for="nome" class="form-label"
              >{{ "RISTO.NAME" | translate }}:</label
            >
            <input
              id="nome"
              [(ngModel)]="newRestaurant.nome"
              name="nome"
              class="form-control"
              required
            />
          </div>
          <div class="mb-3">
            <label for="indirizzo" class="form-label"
              >{{ "RISTO.ADDRESS" | translate }}:</label
            >
            <input
              id="indirizzo"
              [(ngModel)]="searchQuery"
              name="indirizzo"
              (input)="onInput($event)"
              class="form-control"
              required
            />
            <ul *ngIf="suggestions.length > 0" class="list-group mt-2">
              <li
                *ngFor="let suggestion of suggestions"
                (click)="selectSuggestion(suggestion)"
                class="list-group-item list-group-item-action"
              >
                {{ suggestion.display_name }}
              </li>
            </ul>
          </div>
          <div class="mb-3">
            <label for="telefono" class="form-label"
              >{{ "RISTO.PHONE" | translate }}:</label
            >
            <input
              id="telefono"
              [(ngModel)]="newRestaurant.telefono"
              name="telefono"
              class="form-control"
              required
            />
          </div>
          <div class="mb-3">
            <label for="email" class="form-label"
              >{{ "RISTO.EMAIL" | translate }}:</label
            >
            <input
              id="email"
              [(ngModel)]="newRestaurant.email"
              name="email"
              class="form-control"
              required
            />
          </div>
          <div class="mb-3">
            <label for="image" class="form-label"
              >{{ "RISTO.IMAGE" | translate }}:</label
            >
            <input
              id="image"
              type="file"
              (change)="onFileChange($event)"
              class="form-control"
            />
          </div>
          <div
            *ngFor="let orario of newRestaurant.orariApertura; let i = index"
            class="mb-3"
          >
            <label>{{ daysOfWeek[i] }}:</label>
            <div class="d-flex">
              <input
                type="time"
                [(ngModel)]="orario.oraApertura"
                [name]="'oraApertura' + i"
                class="form-control me-2"
                required
              />
              <input
                type="time"
                [(ngModel)]="orario.oraChiusura"
                [name]="'oraChiusura' + i"
                class="form-control"
                required
              />
            </div>
          </div>
          <button type="submit" class="btn colorDelbg text-light fw-bold w-100">
            {{ "RISTO.ADD_RESTAURANT" | translate }}
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
