<div id="container" class="container-fluid colorContainer">
  <div class="row color-bg">
    <div class="col align-items-center flex-col sign-up color-bg">
      <div class="form-wrapper align-items-center">
        <div class="form sign-up" [formGroup]="signUpForm">
          <div class="input-group">
            <i class="bx bxs-user"></i>
            <input formControlName="nome" type="text" placeholder="Nome" />
          </div>
          <div class="input-group">
            <i class="bx bxs-user"></i>
            <input
              formControlName="cognome"
              type="text"
              placeholder="Cognome"
            />
          </div>
          <div class="input-group">
            <i class="bx bx-mail-send"></i>
            <input formControlName="email" type="email" placeholder="Email" />
          </div>
          <div class="input-group">
            <i class="bx bxs-phone"></i>
            <input
              formControlName="telefono"
              type="text"
              placeholder="Telefono"
            />
          </div>
          <div class="input-group">
            <i class="bx bxs-lock-alt"></i>
            <input
              formControlName="password"
              type="password"
              placeholder="Password"
            />
          </div>
          <div class="input-group radio-group d-flex justify-content-center">
            <label class="radio-label">
              Ospite
              <input
                formControlName="ruolo"
                type="radio"
                value="Ospite"
                class="form-radio"
              />
            </label>
            <label class="radio-label">
              Ristoratore
              <input
                formControlName="ruolo"
                type="radio"
                value="Ristoratore"
                class="form-radio"
              />
            </label>
          </div>
          <button (click)="onSignUp()">Sign up</button>
          <p class="color-text">
            <span>Already have an account?</span>
            <b (click)="toggle()" class="pointer">Sign in here</b>
          </p>
        </div>
      </div>
    </div>

    <div class="col align-items-center flex-col sign-in color-bg">
      <div class="form-wrapper align-items-center">
        <div class="form sign-in" [formGroup]="signInForm">
          <div class="input-group">
            <i class="bx bxs-mail-send"></i>
            <input formControlName="email" type="email" placeholder="Email" />
          </div>
          <div class="input-group">
            <i class="bx bxs-lock-alt"></i>
            <input
              formControlName="password"
              type="password"
              placeholder="Password"
            />
          </div>
          <button (click)="onSignIn()">Sign in</button>
          <p class="color-text">
            <span>Don't have an account?</span>
            <b (click)="toggle()" class="pointer">Sign up here</b>
          </p>
        </div>
      </div>
    </div>
    <div class="row content-row">
      <div class="col align-items-center flex-col">
        <div class="text sign-in">
          <h2>Welcome</h2>
        </div>
        <div class="img sign-in"></div>
      </div>
      <div class="col align-items-center flex-col">
        <div class="img sign-up"></div>
        <div class="text sign-up">
          <h2>Join with us</h2>
        </div>
      </div>
    </div>
  </div>
</div>
