<div id="container" class="container-fluid colorContainer">
  <div class="row color-bg">
    <div class="col align-items-center flex-col sign-up color-bg">
      <div class="form-wrapper align-items-center">
        <div class="form sign-up" [formGroup]="signUpForm">
          <div class="input-group">
            <i class="bx bxs-user"></i>
            <input
              formControlName="nome"
              type="text"
              placeholder="{{ 'AUTH.NAME' | translate }}"
            />
          </div>
          <div class="input-group">
            <i class="bx bxs-user"></i>
            <input
              formControlName="cognome"
              type="text"
              placeholder="{{ 'AUTH.LAST_NAME' | translate }}"
            />
          </div>
          <div class="input-group">
            <i class="bx bx-mail-send"></i>
            <input
              formControlName="email"
              type="email"
              placeholder="{{ 'AUTH.EMAIL' | translate }}"
            />
          </div>
          <div class="input-group">
            <i class="bx bxs-phone"></i>
            <input
              formControlName="telefono"
              type="text"
              placeholder="{{ 'AUTH.PHONE' | translate }}"
            />
          </div>
          <div class="input-group">
            <i class="bx bxs-lock-alt"></i>
            <input
              formControlName="password"
              type="password"
              placeholder="{{ 'AUTH.PASSWORD' | translate }}"
            />
          </div>
          <div class="input-group radio-group d-flex justify-content-center">
            <label class="radio-label">
              {{ "AUTH.GUEST" | translate }}
              <input
                formControlName="ruolo"
                type="radio"
                value="Ospite"
                class="form-radio"
              />
              <span class="custom-radio-btn"></span>
            </label>
            <label class="radio-label ms-3">
              {{ "AUTH.RESTAURANT_OWNER" | translate }}
              <input
                formControlName="ruolo"
                type="radio"
                value="Ristoratore"
                class="form-radio"
              />
              <span class="custom-radio-btn"></span>
            </label>
          </div>

          <button (click)="onSignUp()">{{ "AUTH.SIGN_UP" | translate }}</button>
          <p class="color-text">
            <span>{{ "AUTH.ALREADY_HAVE_ACCOUNT" | translate }}</span>
            <b (click)="toggle()" class="pointer">{{
              "AUTH.SIGN_IN_HERE" | translate
            }}</b>
          </p>
        </div>
      </div>
    </div>

    <div class="col align-items-center flex-col sign-in color-bg">
      <div class="form-wrapper align-items-center">
        <div class="form sign-in" [formGroup]="signInForm">
          <div class="input-group">
            <i class="bx bxs-mail-send"></i>
            <input
              formControlName="email"
              type="email"
              placeholder="{{ 'AUTH.EMAIL' | translate }}"
            />
          </div>
          <div class="input-group">
            <i class="bx bxs-lock-alt"></i>
            <input
              formControlName="password"
              type="password"
              placeholder="{{ 'AUTH.PASSWORD' | translate }}"
            />
          </div>
          <button (click)="onSignIn()">{{ "AUTH.SIGN_IN" | translate }}</button>
          <p class="color-text">
            <span>{{ "AUTH.DONT_HAVE_ACCOUNT" | translate }}</span>
            <b (click)="toggle()" class="pointer">{{
              "AUTH.SIGN_UP_HERE" | translate
            }}</b>
          </p>
        </div>
      </div>
    </div>
    <div class="row content-row">
      <div class="col align-items-center flex-col">
        <div class="text sign-in">
          <h2>{{ "AUTH.WELCOME" | translate }}</h2>
        </div>
        <div class="img sign-in"></div>
      </div>
      <div class="col align-items-center flex-col">
        <div class="img sign-up"></div>
        <div class="text sign-up">
          <h2>{{ "AUTH.JOIN_US" | translate }}</h2>
        </div>
      </div>
    </div>
  </div>
</div>
