<nav class="navbar p-0 px-md-2 color-bg">
  <div class="container-fluid m-0 ms-1">
    <a class="navbar-brand" routerLink="">
      <img
        src="../../.././assets/image/DeliverooLogo.png"
        id="LogoDeliveroo"
        alt="Logo Deliveroo"
      />
    </a>
    <div class="d-flex gap-3 me-3">
      <a
        *ngIf="!isAuthenticated()"
        class="btn btn-light border border-light-subtle no-hover color-text color-bg d-none d-md-block"
        role="button"
        routerLink="auth"
        routerLinkActive="active"
      >
        <i class="bi bi-house-door me-2 iconDropDownNavbar"></i>
        {{ "NAVBAR.REGISTER_OR_LOGIN" | translate }}
      </a>

      <button
        class="btn btn-light border border-light-subtle no-hover color-text color-bg"
        type="button"
        data-bs-toggle="offcanvas"
        data-bs-target="#offcanvasRight"
        aria-controls="offcanvasRight"
      >
        <i class="bi bi-person me-2 iconDropDownNavbar"></i>
        {{ "NAVBAR.ACCOUNT" | translate }}
      </button>

      <div
        class="offcanvas offcanvas-end"
        tabindex="-1"
        id="offcanvasRight"
        aria-labelledby="offcanvasRightLabel"
      >
        <div class="offcanvas-header border-bottom color-bg">
          <img
            src="../../.././assets/image/DeliverooLogo.png"
            id="LogoDeliveroo"
            alt="Logo Deliveroo"
            class="me-3"
          />
          <label class="switch">
            <input
              type="checkbox"
              [checked]="themeSvc.darkmode"
              (click)="toggleDarkMode()"
            />
            <span class="slider"></span>
          </label>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="offcanvas"
            aria-label="Close"
          ></button>
        </div>
        <div class="offcanvas-body d-flex flex-column color-bg">
          <div *ngIf="!isAuthenticated()">
            <a
              class="btn btnColor w-100 py-2 fw-bold text-light mb-3"
              routerLink="auth"
            >
              {{ "NAVBAR.REGISTER_OR_LOGIN" | translate }}
            </a>
            <div class="mt-3">
              <a
                class="no-style color-text"
                href="https://www.google.com/webhp?hl=en&sa=X&ved=0ahUKEwjTi-b-soOIAxX5iv0HHUUCHEkQPAgI"
              >
                <i class="bi bi-question-circle me-2"></i>
                {{ "NAVBAR.FAQ" | translate }}
              </a>
            </div>
          </div>
          <div class="row" *ngIf="isAuthenticated()">
            <div class="list-group">
              <a
                routerLink="account"
                class="list-group-item list-group-item-action no-style color-text color-bg"
              >
                <div class="d-flex w-100 align-items-center">
                  <i class="bi bi-person fs-4 me-2"></i>
                  <p class="mb-1">{{ "NAVBAR.ACCOUNT_DETAILS" | translate }}</p>
                </div>
                <p *ngIf="userEmail" class="color-text marginEmail">
                  {{ userEmail }}
                </p>
              </a>
              <a
                routerLink="/storico"
                class="list-group-item list-group-item-action no-style color-text color-bg"
              >
                <div class="d-flex w-100 align-items-center">
                  <i class="bi bi-receipt fs-4 me-2"></i>
                  <p class="mb-1">{{ "NAVBAR.ORDER_HISTORY" | translate }}</p>
                </div>
              </a>
              <a
                routerLink="/faq"
                class="list-group-item list-group-item-action no-style color-text color-bg"
              >
                <div class="d-flex w-100 align-items-center">
                  <i class="bi bi-question-circle fs-4 me-2"></i>
                  <p class="mb-1">{{ "NAVBAR.FAQ" | translate }}</p>
                </div>
              </a>
              <a
                class="list-group-item list-group-item-action text-danger logoutPointer color-bg"
                (click)="onLogout()"
              >
                <div class="d-flex w-100 align-items-center">
                  <i class="bi bi-box-arrow-right fs-4 me-2"></i>
                  <p class="mb-1">{{ "NAVBAR.LOGOUT" | translate }}</p>
                </div>
              </a>
            </div>
          </div>

          <div class="mt-auto">
            <select
              [value]="languageSignal()"
              (change)="onLanguageChange($event)"
              class="form-select w-100 color-bg color-text"
            >
              <option class="color-bg color-text" value="it">Italiano</option>
              <option class="color-bg color-text" value="en">English</option>
            </select>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
