#LogoDeliveroo {
  width: 120px;
}
.dropdown-toggle::after {
  display: none;
}
.dropdown-toggle .bi-chevron-down {
  color: #00ccbc;
}
.dropdown-menu .dropdown-item:hover {
  background-color: #f8f9fa !important;
  color: #000 !important;
}
.iconDropDownNavbar {
  color: #00ccbc;
}
.no-hover:hover {
  background-color: #f8f9fa;
  border-color: #dee2e6;
  color: #000;
}
.btnColor {
  background-color: #00ccbc;
}
.no-style {
  cursor: pointer;
  text-decoration: none;
}
.no-style:hover {
  color: #00ccbc !important;
}

.logoutPointer {
  cursor: pointer;
}

/* Switch Mode */
.switch {
  font-size: 17px;
  position: relative;
  display: inline-block;
  width: 3.5em;
  height: 2em;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  --background: #20ada2;
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--background);
  transition: 0.5s;
  border-radius: 30px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 1.4em;
  width: 1.4em;
  border-radius: 50%;
  left: 10%;
  bottom: 15%;
  box-shadow: inset 8px -4px 0px 0px #fff000;
  background: var(--background);
  transition: 0.5s;
}

input:checked + .slider {
  background-color: #177a72;
}

input:checked + .slider:before {
  transform: translateX(100%);
  box-shadow: inset 15px -4px 0px 15px #fff000;
}

.color-bg {
  background-color: var(--color-bg) !important;
}

.color-text {
  color: var(--color-text) !important;
}

.marginEmail {
  margin: 0 0 0 31px;
}
