<div class="container mt-5">
  <div class="row">
    <div class="col-md-12 text-end d-md-none">
      <button
        class="btn btn-primary mb-3 me-2"
        data-bs-toggle="modal"
        data-bs-target="#addCategorieModal"
      >
        Aggiungi Categorie
      </button>
      <button
        class="btn btn-primary mb-3"
        data-bs-toggle="modal"
        data-bs-target="#addMenuModal"
      >
        Aggiungi Menu
      </button>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8">
      <h2 class="color-text">Menù del Ristorante</h2>
      <div *ngFor="let menu of menus" class="mb-3">
        <div class="card color-bg">
          <div class="card-body position-relative">
            <h3 class="card-title color-text">{{ menu.nome }}</h3>
            <div
              class="piatti-container"
              *ngIf="menu.piatti && menu.piatti.length > 0"
            >
              <div *ngFor="let piatto of menu.piatti" class="piatto-item">
                <div class="piatto-content text-center">
                  <img
                    *ngIf="piatto.immaginePath"
                    [src]="getImageUrl(piatto.immaginePath)"
                    alt="{{ piatto.nome }}"
                    class="piatto-img img-fluid"
                  />
                  <h5>{{ piatto.nome }}</h5>
                  <p>{{ piatto.descrizione }}</p>
                  <p class="piatto-prezzo">Prezzo: €{{ piatto.prezzo }}</p>
                </div>
              </div>
            </div>
            <p
              class="color-text pt-4"
              *ngIf="!menu.piatti || menu.piatti.length === 0"
            >
              Nessun piatto disponibile per questo menu.
            </p>
            <button
              type="button"
              class="btn btn-outline-primary mt-3 add-piatto-btn"
              data-bs-toggle="modal"
              [attr.data-bs-target]="'#addPiattoModal' + menu.iD_Menu"
            >
              <i class="bi bi-plus"></i> Aggiungi Piatti
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 d-none d-md-block">
      <div class="card mb-4 color-bg color-text">
        <div class="card-body">
          <h3>Aggiungi categorie al ristorante</h3>
          <div class="form-group mb-3">
            <label>Seleziona una o più categorie</label>
            <div *ngFor="let categoria of categorie">
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="checkbox"
                  [id]="'categoria-' + categoria.iD_Categoria"
                  [value]="categoria.iD_Categoria"
                  [checked]="
                    selectedCategories.includes(categoria.iD_Categoria)
                  "
                  (change)="onCategoryChange($event, categoria.iD_Categoria)"
                />
                <label
                  class="form-check-label"
                  [for]="'categoria-' + categoria.iD_Categoria"
                >
                  {{ categoria.nome }}
                </label>
              </div>
            </div>
          </div>

          <button
            class="btn btn-primary w-100"
            (click)="addCategoriesToRestaurant()"
          >
            Aggiungi Categorie
          </button>
        </div>
      </div>
      <div class="card color-bg color-text">
        <div class="card-body">
          <h3>Aggiungi un nuovo menu</h3>
          <div class="form-group mb-3">
            <label for="menuName">Nome del menu</label>
            <input
              id="menuName"
              [(ngModel)]="newMenuName"
              class="form-control"
              placeholder="Inserisci nome del menu"
            />
          </div>
          <button class="btn btn-primary w-100" (click)="createMenu()">
            Aggiungi Menu
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="addCategorieModal" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content color-bg color-text">
        <div class="modal-header colorHeaderModal">
          <h5 class="modal-title">Aggiungi Categorie al Ristorante</h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
          ></button>
        </div>
        <div class="modal-body">
          <div class="form-group mb-3">
            <label>Seleziona una o più categorie</label>
            <div *ngFor="let categoria of categorie">
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="checkbox"
                  [id]="'modal-categoria-' + categoria.iD_Categoria"
                  [value]="categoria.iD_Categoria"
                  [checked]="
                    selectedCategories.includes(categoria.iD_Categoria)
                  "
                  (change)="onCategoryChange($event, categoria.iD_Categoria)"
                />
                <label
                  class="form-check-label"
                  [for]="'modal-categoria-' + categoria.iD_Categoria"
                >
                  {{ categoria.nome }}
                </label>
              </div>
            </div>
          </div>
          <button
            class="btn btn-primary w-100"
            (click)="addCategoriesToRestaurant()"
          >
            Aggiungi Categorie
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="addMenuModal" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content color-bg color-text">
        <div class="modal-header colorHeaderModal">
          <h5 class="modal-title">Aggiungi un nuovo menu</h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
          ></button>
        </div>
        <div class="modal-body">
          <div class="form-group mb-3">
            <label for="modalMenuName">Nome del menu</label>
            <input
              id="modalMenuName"
              [(ngModel)]="newMenuName"
              class="form-control"
              placeholder="Inserisci nome del menu"
            />
          </div>
          <button class="btn btn-primary w-100" (click)="createMenu()">
            Aggiungi Menu
          </button>
        </div>
      </div>
    </div>
  </div>
  <div
    *ngFor="let menu of menus"
    class="modal fade"
    [id]="'addPiattoModal' + menu.iD_Menu"
    tabindex="-1"
    aria-labelledby="addPiattoModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="addPiattoModalLabel">
            Aggiungi Piatti a {{ menu.nome }}
          </h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group mb-3">
              <label for="piattoName">Nome del piatto</label>
              <input
                [(ngModel)]="newPiattoData[menu.iD_Menu].name"
                class="form-control"
                placeholder="Inserisci nome del piatto"
                name="piattoName{{ menu.iD_Menu }}"
                [ngModelOptions]="{ standalone: true }"
              />
            </div>
            <div class="form-group mb-3">
              <label for="piattoDescription">Descrizione del piatto</label>
              <input
                [(ngModel)]="newPiattoData[menu.iD_Menu].description"
                class="form-control"
                placeholder="Inserisci descrizione"
                name="piattoDescription{{ menu.iD_Menu }}"
                [ngModelOptions]="{ standalone: true }"
              />
            </div>
            <div class="form-group mb-3">
              <label for="piattoPrice">Prezzo</label>
              <input
                [(ngModel)]="newPiattoData[menu.iD_Menu].price"
                type="number"
                class="form-control"
                placeholder="Inserisci prezzo"
                name="piattoPrice{{ menu.iD_Menu }}"
                [ngModelOptions]="{ standalone: true }"
              />
            </div>
            <div class="form-group mb-3">
              <label for="piattoImage">Immagine del piatto</label>
              <input
                type="file"
                class="form-control"
                (change)="onFileSelected($event, menu.iD_Menu)"
              />
            </div>

            <button
              type="button"
              class="btn btn-outline-primary"
              data-bs-toggle="modal"
              [attr.data-bs-target]="'#addPiattoModal' + menu.iD_Menu"
              (click)="createPiatto(menu.iD_Menu)"
            >
              Aggiungi Piatto
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
