.piatti-container {
  display: flex;
  overflow-x: auto;
  padding: 1rem 0;
  scroll-behavior: smooth;
}

.piatto-item {
  flex: 0 0 auto;
  width: 200px;
  margin-right: 15px;
  background-color: #f8f9fa;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  position: relative;
}

.piatti-container::-webkit-scrollbar {
  height: 8px;
}

.piatti-container::-webkit-scrollbar-thumb {
  background-color: #35b8b2;
  border-radius: 4px;
}

.piatti-container::-webkit-scrollbar-track {
  background-color: #e9ecef;
}

.add-piatto-btn {
  position: absolute;
  top: 10px;
  right: 10px;
}

.piatto-img {
  height: 150px;
  width: 100%;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 10px;
  padding: 10px 10px 0 10px;
}

.piatto-content {
  position: relative;
}

.piatto-content:hover {
  background-color: rgba(0, 0, 0, 0.1); /* Oscura leggermente la card */
}

.piatto-delete-btn {
  position: absolute;
  top: 5px;
  right: 5px;
  display: none;
}

.piatto-content:hover .piatto-delete-btn {
  display: block; /* Mostra il bottone solo al hover */
}

p {
  margin: 0;
}

@media (max-width: 768px) {
  .d-md-block {
    display: none !important;
  }

  .d-md-none {
    display: block !important;
  }
}

.btn-primary,
.btn-outline-primary {
  background-color: #35b8b2;
  border-color: #35b8b2;
}

.btn-outline-primary {
  color: #35b8b2;
}

.btn-outline-primary:hover {
  background-color: #35b8b2;
  color: white;
}

.form-check-input {
  accent-color: #35b8b2;
}

button[data-bs-toggle="modal"] {
  background-color: #35b8b2;
  border-color: #35b8b2;
  color: white;
}

button[data-bs-toggle="modal"]:hover,
.btn-primary:hover,
.btn-outline-primary:hover {
  background-color: #2a938d;
  border-color: #2a938d;
}

.card-body .form-check-input {
  accent-color: #35b8b2;
}

.form-check-input:checked {
  background-color: #35b8b2;
  border-color: #35b8b2;
}

.form-check-input:focus {
  box-shadow: 0 0 0 0.25rem rgba(53, 184, 178, 0.25);
}

.colorHeaderModal {
  background-color: #35b8b2;
  color: white;
}
