<div class="container mt-5">
  <div class="row">
    <div class="col-md-12 text-end d-md-none">
      <button
        class="btn btn-primary mb-3 me-2"
        data-bs-toggle="modal"
        data-bs-target="#addCategorieModal"
      >
        {{ "RISTO-DET.ADD_CATEGORIES" | translate }}
      </button>
      <button
        class="btn btn-primary mb-3"
        data-bs-toggle="modal"
        data-bs-target="#addMenuModal"
      >
        {{ "RISTO-DET.ADD_MENU" | translate }}
      </button>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8">
      <a
        class="nav-link btn colorDelbg text-light py-1 me-2"
        [routerLink]="['/gestione', restaurantId]"
        routerLinkActive="active"
        >{{ "RISTO-DET.ORDER_MANAGEMENT" | translate }}</a
      >
      <h2 class="color-text">{{ "RISTO-DET.RESTAURANT_MENU" | translate }}</h2>
      <div *ngFor="let menu of menus" class="mb-3">
        <div class="card color-bg">
          <div class="card-body position-relative">
            <div class="d-flex align-items-center">
              <h3 class="card-title color-text mb-0 text-wrap limited-width">
                {{ menu.nome }}
              </h3>
              <i
                class="bi bi-pencil ms-2 edit-icon"
                data-bs-toggle="modal"
                [attr.data-bs-target]="'#editMenuModal' + menu.iD_Menu"
              ></i>
            </div>

            <div
              class="piatti-container"
              *ngIf="menu.piatti && menu.piatti.length > 0"
            >
              <div
                *ngFor="let piatto of menu.piatti"
                class="piatto-item color-bg color-text pb-2"
                (mouseenter)="setPiattoHover(piatto.iD_Piatto)"
                (mouseleave)="setPiattoHover(null)"
              >
                <ng-container *ngIf="!piatto.cancellato">
                  <div class="piatto-content text-center">
                    <img
                      *ngIf="piatto.immaginePath"
                      [src]="getImageUrl(piatto.immaginePath)"
                      alt="{{ piatto.nome }}"
                      class="piatto-img img-fluid"
                    />
                    <h5>{{ piatto.nome }}</h5>
                    <p>{{ piatto.descrizione }}</p>
                    <p class="piatto-prezzo">
                      {{ "RISTO-DET.PRICE" | translate }}: €{{ piatto.prezzo }}
                    </p>
                    <div
                      *ngIf="piattoInHover === piatto.iD_Piatto"
                      class="position-absolute top-0 end-0 m-2 d-flex gap-2"
                    >
                      <button
                        class="btn btn-danger btn-sm me-2"
                        (click)="
                          deletePiatto(piatto.iD_Piatto, menu.iD_Menu);
                          $event.stopPropagation()
                        "
                      >
                        <i class="bi bi-trash">{{
                          "RISTO-DET.DELETE" | translate
                        }}</i>
                      </button>
                      <button
                        class="btn btn-outline-primary btn-sm"
                        data-bs-toggle="modal"
                        [attr.data-bs-target]="
                          '#updatePiattoModal' + piatto.iD_Piatto
                        "
                        (click)="$event.stopPropagation()"
                      >
                        <i class="bi bi-pencil">{{
                          "RISTO-DET.EDIT" | translate
                        }}</i>
                      </button>
                    </div>
                  </div>
                </ng-container>
              </div>
            </div>
            <p
              class="color-text pt-4 pb-2"
              *ngIf="!menu.piatti || menu.piatti.length === 0"
            >
              {{ "RISTO-DET.NO_DISHES" | translate }}
            </p>
            <button
              type="button"
              class="btn btn-outline-danger mt-2"
              (click)="deleteMenu(menu.iD_Menu)"
            >
              <i class="bi bi-trash"></i>
              {{ "RISTO-DET.DELETE_MENU" | translate }}
            </button>
            <button
              type="button"
              class="btn btn-outline-primary mt-3 add-piatto-btn"
              data-bs-toggle="modal"
              [attr.data-bs-target]="'#addPiattoModal' + menu.iD_Menu"
            >
              <i class="bi bi-plus"></i>
              {{ "RISTO-DET.ADD_DISHES" | translate }}
            </button>
          </div>
        </div>
        <div
          *ngFor="let piatto of menu.piatti"
          class="modal fade"
          [id]="'updatePiattoModal' + piatto.iD_Piatto"
          tabindex="-1"
          aria-labelledby="updatePiattoModalLabel"
          aria-hidden="true"
        >
          <div class="modal-dialog">
            <div class="modal-content color-bg color-text">
              <div class="modal-header colorDelbg">
                <h5 class="modal-title" id="updatePiattoModalLabel">
                  {{ "RISTO-DET.EDIT_DISH" | translate }} - {{ piatto.nome }}
                </h5>
                <button
                  type="button"
                  class="btn-close"
                  data-bs-dismiss="modal"
                  aria-label="Close"
                ></button>
              </div>
              <div class="modal-body">
                <form>
                  <div class="form-group mb-3">
                    <label for="updatePiattoName{{ piatto.iD_Piatto }}">{{
                      "RISTO-DET.DISH_NAME" | translate
                    }}</label>
                    <input
                      [(ngModel)]="piatto.nome"
                      class="form-control"
                      placeholder="{{
                        'RISTO-DET.ENTER_NEW_DISH_NAME' | translate
                      }}"
                      name="updatePiattoName{{ piatto.iD_Piatto }}"
                      [ngModelOptions]="{ standalone: true }"
                    />
                  </div>
                  <div class="form-group mb-3">
                    <label
                      for="updatePiattoDescription{{ piatto.iD_Piatto }}"
                      >{{ "RISTO-DET.DISH_DESCRIPTION" | translate }}</label
                    >
                    <input
                      [(ngModel)]="piatto.descrizione"
                      class="form-control"
                      placeholder="{{
                        'RISTO-DET.ENTER_NEW_DESCRIPTION' | translate
                      }}"
                      name="updatePiattoDescription{{ piatto.iD_Piatto }}"
                      [ngModelOptions]="{ standalone: true }"
                    />
                  </div>
                  <div class="form-group mb-3">
                    <label for="consenteIngredienti{{ piatto.iD_Piatto }}">
                      {{ "RISTO-DET.ALLOW_INGREDIENT_SELECTION" | translate }}
                    </label>
                    <input
                      type="checkbox"
                      class="form-check-input ms-2"
                      [(ngModel)]="piatto.consenteIngredienti"
                      name="consenteIngredienti{{ piatto.iD_Piatto }}"
                      [ngModelOptions]="{ standalone: true }"
                    />
                  </div>

                  <div class="form-group mb-3">
                    <label for="updatePiattoPrice{{ piatto.iD_Piatto }}">{{
                      "RISTO-DET.PRICE" | translate
                    }}</label>
                    <input
                      [(ngModel)]="piatto.prezzo"
                      type="number"
                      class="form-control"
                      placeholder="{{
                        'RISTO-DET.ENTER_NEW_PRICE' | translate
                      }}"
                      name="updatePiattoPrice{{ piatto.iD_Piatto }}"
                      [ngModelOptions]="{ standalone: true }"
                    />
                  </div>
                  <div class="form-group mb-3">
                    <label for="updatePiattoImage{{ piatto.iD_Piatto }}">{{
                      "RISTO-DET.DISH_IMAGE" | translate
                    }}</label>
                    <input
                      type="file"
                      class="form-control"
                      (change)="
                        onFileSelectedForUpdate(
                          $event,
                          menu.iD_Menu,
                          piatto.iD_Piatto
                        )
                      "
                    />
                  </div>
                  <div class="d-flex justify-content-center">
                    <button
                      type="button"
                      class="btn btn-outline-primary fw-bold"
                      (click)="updatePiatto(piatto.iD_Piatto, menu.iD_Menu)"
                      data-bs-dismiss="modal"
                    >
                      {{ "RISTO-DET.SAVE_CHANGES" | translate }}
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 d-none d-md-block">
      <div class="card mb-4 color-bg color-text">
        <div class="card-body">
          <h3>{{ "RISTO-DET.ADD_NEW_MENU" | translate }}</h3>
          <div class="form-group mb-3">
            <label for="menuName">{{
              "RISTO-DET.MENU_NAME" | translate
            }}</label>
            <input
              id="menuName"
              [(ngModel)]="newMenuName"
              class="form-control"
              placeholder="{{ 'RISTO-DET.ENTER_MENU_NAME' | translate }}"
            />
          </div>
          <button class="btn btn-primary w-100 fw-bold" (click)="createMenu()">
            {{ "RISTO-DET.ADD_MENU" | translate }}
          </button>
        </div>
      </div>
      <div class="card color-bg color-text">
        <div class="card-body">
          <h3>{{ "RISTO-DET.ADD_CATEGORIES_TO_RESTAURANT" | translate }}</h3>
          <div class="form-group mb-3">
            <label>{{ "RISTO-DET.SELECT_CATEGORIES" | translate }}</label>
            <div class="row">
              <div class="col-12 col-md-6">
                <div
                  *ngFor="
                    let categoria of categorie
                      | slice : 0 : categorie.length / 2
                  "
                >
                  <div class="form-check">
                    <input
                      class="form-check-input"
                      type="checkbox"
                      [id]="'categoria-' + categoria.iD_Categoria"
                      [value]="categoria.iD_Categoria"
                      [checked]="
                        selectedCategories.includes(categoria.iD_Categoria)
                      "
                      (change)="
                        onCategoryChange($event, categoria.iD_Categoria)
                      "
                    />
                    <label
                      class="form-check-label"
                      [for]="'categoria-' + categoria.iD_Categoria"
                    >
                      {{ categoria.nome }}
                    </label>
                  </div>
                </div>
              </div>
              <div class="col-12 col-md-6">
                <div
                  *ngFor="
                    let categoria of categorie
                      | slice : categorie.length / 2 : categorie.length
                  "
                >
                  <div class="form-check">
                    <input
                      class="form-check-input"
                      type="checkbox"
                      [id]="'categoria-' + categoria.iD_Categoria"
                      [value]="categoria.iD_Categoria"
                      [checked]="
                        selectedCategories.includes(categoria.iD_Categoria)
                      "
                      (change)="
                        onCategoryChange($event, categoria.iD_Categoria)
                      "
                    />
                    <label
                      class="form-check-label"
                      [for]="'categoria-' + categoria.iD_Categoria"
                    >
                      {{ categoria.nome }}
                    </label>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <button
            class="btn btn-primary w-100 fw-bold"
            (click)="addCategoriesToRestaurant()"
          >
            {{ "RISTO-DET.ADD_CATEGORIES" | translate }}
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="addCategorieModal" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content color-bg color-text">
        <div class="modal-header colorHeaderModal">
          <h5 class="modal-title">
            {{ "RISTO-DET.ADD_CATEGORIES_TO_RESTAURANT" | translate }}
          </h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
          ></button>
        </div>
        <div class="modal-body">
          <div class="form-group mb-3">
            <label>{{ "RISTO-DET.SELECT_CATEGORIES" | translate }}</label>
            <div *ngFor="let categoria of categorie">
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="checkbox"
                  [id]="'modal-categoria-' + categoria.iD_Categoria"
                  [value]="categoria.iD_Categoria"
                  [checked]="
                    selectedCategories.includes(categoria.iD_Categoria)
                  "
                  (change)="onCategoryChange($event, categoria.iD_Categoria)"
                />
                <label
                  class="form-check-label"
                  [for]="'modal-categoria-' + categoria.iD_Categoria"
                >
                  {{ categoria.nome }}
                </label>
              </div>
            </div>
          </div>
          <button
            class="btn btn-primary w-100"
            (click)="addCategoriesToRestaurant()"
          >
            {{ "RISTO-DET.ADD_CATEGORIES" | translate }}
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="addMenuModal" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content color-bg color-text">
        <div class="modal-header colorHeaderModal">
          <h5 class="modal-title">
            {{ "RISTO-DET.ADD_NEW_MENU" | translate }}
          </h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
          ></button>
        </div>
        <div class="modal-body">
          <div class="form-group mb-3">
            <label for="modalMenuName">{{
              "RISTO-DET.MENU_NAME" | translate
            }}</label>
            <input
              id="modalMenuName"
              [(ngModel)]="newMenuName"
              class="form-control"
              placeholder="Inserisci nome del menu"
            />
          </div>
          <button class="btn btn-primary w-100" (click)="createMenu()">
            {{ "RISTO-DET.ADD_MENU" | translate }}
          </button>
        </div>
      </div>
    </div>
  </div>
  <div
    *ngFor="let menu of menus"
    class="modal fade"
    [id]="'addPiattoModal' + menu.iD_Menu"
    tabindex="-1"
    aria-labelledby="addPiattoModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content color-bg color-text">
        <div class="modal-header colorDelbg">
          <h5 class="modal-title" id="addPiattoModalLabel">
            {{ "RISTO-DET.ADD_DISHES_TO" | translate }} {{ menu.nome }}
          </h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group mb-3">
              <label for="piattoName">{{
                "RISTO-DET.DISH_NAME" | translate
              }}</label>
              <input
                [(ngModel)]="newPiattoData[menu.iD_Menu].name"
                class="form-control"
                placeholder="{{ 'RISTO-DET.ENTER_DISH_NAME' | translate }}"
                name="piattoName{{ menu.iD_Menu }}"
                [ngModelOptions]="{ standalone: true }"
              />
            </div>
            <div class="form-group mb-3">
              <label for="piattoDescription">{{
                "RISTO-DET.DISH_DESCRIPTION" | translate
              }}</label>
              <input
                [(ngModel)]="newPiattoData[menu.iD_Menu].description"
                class="form-control"
                placeholder="{{ 'RISTO-DET.ENTER_DESCRIPTION' | translate }}"
                name="piattoDescription{{ menu.iD_Menu }}"
                [ngModelOptions]="{ standalone: true }"
              />
            </div>
            <div class="form-group mb-3">
              <label for="piattoConsenteIngredienti">{{
                "RISTO-DET.ALLOW_INGREDIENT_SELECTION" | translate
              }}</label>
              <input
                type="checkbox"
                [(ngModel)]="newPiattoData[menu.iD_Menu].consenteIngredienti"
                class="form-check-input ms-2"
                name="piattoConsenteIngredienti{{ menu.iD_Menu }}"
                [ngModelOptions]="{ standalone: true }"
              />
            </div>

            <div class="form-group mb-3">
              <label for="piattoPrice">{{
                "RISTO-DET.PRICE" | translate
              }}</label>
              <input
                [(ngModel)]="newPiattoData[menu.iD_Menu].price"
                type="number"
                class="form-control"
                placeholder="{{ 'RISTO-DET.PRICE' | translate }}"
                name="piattoPrice{{ menu.iD_Menu }}"
                [ngModelOptions]="{ standalone: true }"
              />
            </div>
            <div class="form-group mb-3">
              <label for="piattoImage">{{
                "RISTO-DET.DISH_IMAGE" | translate
              }}</label>
              <input
                type="file"
                class="form-control"
                (change)="onFileSelected($event, menu.iD_Menu)"
              />
            </div>

            <div class="d-flex justify-content-center">
              <button
                type="button"
                class="btn btn-outline-primary fw-bold"
                data-bs-toggle="modal"
                [attr.data-bs-target]="'#addPiattoModal' + menu.iD_Menu"
                (click)="createPiatto(menu.iD_Menu)"
              >
                {{ "RISTO-DET.ADD_DISH" | translate }}
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div
    *ngFor="let menu of menus"
    class="modal fade"
    [id]="'editMenuModal' + menu.iD_Menu"
    tabindex="-1"
    aria-labelledby="editMenuModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="editMenuModalLabel">
            {{ "RISTO-DET.EDIT_MENU" | translate }} - {{ menu.nome }}
          </h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group mb-3">
              <label for="editMenuName{{ menu.iD_Menu }}">{{
                "RISTO-DET.MENU_NAME" | translate
              }}</label>
              <input
                [(ngModel)]="menu.nome"
                class="form-control"
                name="editMenuName{{ menu.iD_Menu }}"
                placeholder="{{ 'RISTO-DET.ENTER_NEW_MENU_NAME' | translate }}"
                [ngModelOptions]="{ standalone: true }"
              />
            </div>
            <button
              type="button"
              class="btn btn-outline-primary w-100"
              (click)="updateMenu(menu.iD_Menu)"
              data-bs-dismiss="modal"
            >
              {{ "RISTO-DET.SAVE_CHANGES" | translate }}
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
