<div class="d-flex justify-content-start p-3 color-bg">
  <div class="back-link d-flex align-items-center" (click)="goBack()">
    <i class="bi bi-arrow-left me-2"></i>{{ "ORDER.BACK" | translate }}
  </div>
</div>

<div
  *ngIf="ordini.length > 0; else noOrdini"
  class="px-5 pt-2 color-bg color-text"
>
  <div *ngFor="let ordine of ordini" class="card mb-4 shadow-sm border-0">
    <div class="card-header colorBg text-white">
      <h3 class="mb-0">
        {{ "ORDER.ORDER" | translate }}
      </h3>
    </div>
    <div class="card-body">
      <p>
        <strong>{{ "ORDER.DATE" | translate }}:</strong>
        {{ ordine.dataOrdine | date }}
      </p>
      <p>
        <strong>{{ "ORDER.RESTAURANT" | translate }}:</strong>
        {{ ordine.nomeRistorante }}
      </p>
      <p>
        <strong>{{ "ORDER.STATUS" | translate }}:</strong> {{ ordine.stato }}
      </p>

      <h4 class="mt-4">{{ "ORDER.DISH_DETAILS" | translate }}</h4>
      <ul class="list-group list-group-flush">
        <li
          *ngFor="let dettaglio of ordine.dettagliOrdine"
          class="list-group-item"
        >
          <strong>{{ dettaglio.piatto.nome }}</strong> -
          {{ "ORDER.QUANTITY" | translate }}: {{ dettaglio.quantita }} -
          {{ "ORDER.PRICE" | translate }}: {{ dettaglio.prezzo | currency }}
          <ul
            *ngIf="dettaglio.ingredienti && dettaglio.ingredienti.length > 0"
            class="list-inline mt-2 d-flex flex-column"
          >
            <li
              *ngFor="let ingrediente of dettaglio.ingredienti"
              class="list-inline-item"
            >
              {{ ingrediente.nome }}
              <span *ngIf="ingrediente.prezzo > 0">
                - {{ "ORDER.INGREDIENT_PRICE" | translate }}:
                {{ ingrediente.prezzo | currency }}
              </span>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>

<ng-template #noOrdini>
  <p class="text-center text-muted">{{ "ORDER.NO_ORDERS" | translate }}</p>
</ng-template>
