<nav class="navbar p-0">
  <div class="container m-0 ms-1">
    <a class="navbar-brand">
      <img
        src="../../.././assets/image/Deliveroo-logo.png"
        id="LogoDeliveroo"
        alt="Logo Deliveroo"
      />
    </a>

    <div class="dropdown border border-light-subtle bg-light">
      <button
        class="btn dropdown-toggle d-flex align-items-center"
        type="button"
        data-bs-toggle="dropdown"
        aria-expanded="false"
      >
        <i class="bi bi-chevron-down me-2"></i>
        Collabora con noi
      </button>
      <ul class="dropdown-menu">
        <li>
          <a class="dropdown-item px-3" href="#"
            ><i class="bi bi-basket me-2 iconDropDownNavbar"></i>Partner</a
          >
        </li>
        <li>
          <a class="dropdown-item px-3" href="#"
            ><i class="bi bi-briefcase me-2 iconDropDownNavbar"></i>Lavora con
            noi</a
          >
        </li>
        <li>
          <a class="dropdown-item px-3" href="#"
            ><i class="bi bi-house-door me-2 iconDropDownNavbar"></i>Deliveroo
            for Work</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
