@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
#LogoDeliveroo {
  width: 120px;
}
.dropdown-toggle::after {
  display: none;
}
.dropdown-toggle .bi-chevron-down {
  color: #00ccbc;
}
.iconDropDownNavbar {
  color: #00ccbc;
}
.no-hover:hover {
  background-color: #f8f9fa;
  border-color: #dee2e6;
  color: #000;
}
.btnColor {
  background-color: #00ccbc;
}
.no-style {
  text-decoration: none;
  color: #000;
}
.no-style:hover {
  color: #00ccbc;
}
