.input-text {
  font-size: 1rem;
  margin-bottom: 1rem;
}

.input-group {
  display: flex;
  align-items: center;
}

.form-control {
  border: 2px solid #35b8b2;
  border-radius: 8px 0 0 8px;
  padding: 0.75rem 1rem;
  font-size: 1rem;
}

.form-control:focus {
  border-color: #28a745;
  box-shadow: none;
}

.btn.DeliverooColor {
  border-radius: 0 8px 8px 0;
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
}

.autocomplete-list {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 0.5rem;
  border: 1px solid #ddd;
  border-radius: 4px;
  max-height: 200px;
  overflow-y: auto;
  background-color: #fff;
}

.autocomplete-list li {
  padding: 0.5rem;
  cursor: pointer;
}

.autocomplete-list li:hover {
  background-color: #f0f0f0;
}

.rounded-input {
  border-radius: 8px 0 0 8px;
}

.rounded-button {
  border-radius: 0 8px 8px 0;
}
.container-fluid {
  position: relative;
}

.scroll-container {
  display: flex;
  overflow-x: hidden;
  overflow-y: hidden;
  scroll-behavior: smooth;
  padding: 8px 0 8px 0;
}

.scroll-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: #00ccbc;
  border: none;
  padding: 10px;
  cursor: pointer;
  z-index: 10;
  color: white;
  font-size: 20px;
  border-radius: 50%;
}

.scroll-button.left {
  left: 0;
  padding: 10px 15px;
}

.scroll-button.right {
  right: 0;
  padding: 10px 15px;
}

.scroll-button i {
  font-size: 20px;
}

.category-button {
  flex: 0 0 auto;
  width: 150px;
  text-align: center;
  cursor: pointer;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  margin-right: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.category-button:hover {
  transform: scale(1.05);
}

.category-button img {
  width: 100%;
  height: 60px;
  object-fit: contain;
}

.category-label {
  font-size: 1rem;
  font-weight: bold;
  margin-top: 10px;
  color: #35b8b2;
}
.restaurant-card {
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
}

.restaurant-image img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.restaurant-info {
  padding: 10px;
}

.restaurant-info h2 {
  font-size: 1.2rem;
  margin: 0;
}

.restaurant-info p {
  font-size: 0.9rem;
  color: #555;
}
.selected-categories .badge {
  background-color: #35b8b2;
  padding: 0.5rem 1rem;
  border-radius: 20px;
  font-size: 14px;
  display: inline-flex;
  align-items: center;
}

.btn-close {
  background: transparent;
  border: none;
  font-size: 1.2rem;
  margin-left: 8px;
  color: white;
}
