<div class="container-fluid pt-4">
  <div class="row">
    <div class="col-2 col-md-3 d-flex justify-content-end p-0">
      <img
        src="../../../../../assets/image/starBanner.png"
        alt="Star image"
        class="starImage img-fluid"
      />
    </div>
    <div class="col-8 col-md-6 text-center">
      <h3 class="fs-1 text-light fw-bold">
        Menù in offerta: sconti fino al 25%
      </h3>
      <p class="text-light firstParag mt-4">
        Perfetti per dare più gusto alla tua settimana, ordinare i piatti più
        amati da tutta la famiglia e fare una pausa dai fornelli.
      </p>
      <p class="text-light secondParag">
        Si applicano spese di consegna e di servizio. Offerta soggetta a
        disponibilità, solo per ristoranti aderenti all'iniziativa. Si applicano
        termini e condizioni, consultabili qui.
      </p>
    </div>
    <div class="col-2 col-md-3 p-0">
      <img
        src="../../../../../assets/image/starBanner.png"
        alt="Star image"
        class="starImage img-fluid"
      />
    </div>
    <div class="col bg-image">
      <img
        src="../../../../../assets/image/bgBanner.png"
        alt="background Food"
        class="full-width-image"
      />
    </div>
  </div>
</div>
