<div class="container color-bg shadow-lg">
  <div class="row h-100">
    <div
      class="col-12 col-lg-6 d-flex flex-column justify-content-center align-items-center text-center"
    >
      <h2 class="color-text fs-2 fw-bold pt-2">Segui gli ordini passo passo</h2>
      <p class="text-wrap color-text">
        I piatti e i prodotti che ami, consegnati in pochissimo tempo. Vedrai
        quando il rider ha ritirato l'ordine, che potrai seguire passo passo, e
        riceverai una notifica quando sarà quasi da te.
      </p>
      <div class="d-flex justify-between pb-3">
        <a
          href="https://apps.apple.com/gb/app/deliveroo-food-shopping/id1001501844?mt=8"
        >
          <img
            src="../../../../../assets/image/appStore.png"
            alt="AppStore Image"
            class="imgButton"
          />
        </a>
        <a
          href="https://apps.apple.com/gb/app/deliveroo-food-shopping/id1001501844?mt=8"
        >
          <img
            src="../../../../../assets/image/googlePlay.png"
            alt="GooglePlay Image"
            class="imgButton h-100"
          />
        </a>
      </div>
    </div>
    <div class="col-12 col-lg-6 p-0 position-relative">
      <img
        src="../../../../../assets/image/mapdeliveroo.png"
        alt="Deliveroo Map"
        class="w-100 h-100"
      />
      <img
        src="../../../../../assets/image/notificationDeliveroo.png"
        alt="Notification Deliveroo"
        class="NotificationImage"
      />
    </div>
  </div>
</div>
