:root[data-theme="light"] {
  --color-bg: white;
  --color-text: #1d1d1c;
}

[data-theme="dark"] {
  --color-bg: #1d1d1c;
  --color-text: white;
}
.color-bg {
  background-color: var(--color-bg) !important;
}

.color-text {
  color: var(--color-text) !important;
}
