<section class="splide pt-4 color-bg" aria-label="Primo Carosello di Immagini ">
  <div class="splide__track">
    <ul class="splide__list">
      <li class="splide__slide">
        <img src="../../../../../assets/image/carousel1.webp" alt="Sushi" />
      </li>
      <li class="splide__slide">
        <img src="../../../../../assets/image/carousel2.webp" alt="Burger" />
      </li>
      <li class="splide__slide">
        <img
          src="../../../../../assets/image/carousel3.webp"
          alt="Burger King"
        />
      </li>
      <li class="splide__slide">
        <img src="../../../../../assets/image/carousel4.webp" alt="Envelope" />
      </li>
      <li class="splide__slide">
        <img src="../../../../../assets/image/carousel5.webp" alt="Donuts" />
      </li>
      <li class="splide__slide">
        <img src="../../../../../assets/image/carousel6.webp" alt="mcDonald" />
      </li>
      <li class="splide__slide">
        <img src="../../../../../assets/image/carousel7.webp" alt="Carrefour" />
      </li>
      <li class="splide__slide">
        <img src="../../../../../assets/image/carousel8.webp" alt="Carrots" />
      </li>
      <li class="splide__slide">
        <img src="../../../../../assets/image/carousel9.webp" alt="IceCream" />
      </li>
      <li class="splide__slide">
        <img src="../../../../../assets/image/carousel10.webp" alt="Vegan" />
      </li>
      <li class="splide__slide">
        <img
          src="../../../../../assets/image/carousel11.webp"
          alt="DeliverooHop"
        />
      </li>
      <li class="splide__slide">
        <img src="../../../../../assets/image/carousel12.webp" alt="Sushi" />
      </li>
      <li class="splide__slide">
        <img src="../../../../../assets/image/carousel13.webp" alt="Kfc" />
      </li>
      <li class="splide__slide">
        <img src="../../../../../assets/image/carousel14.webp" alt="Sushi" />
      </li>
      <li class="splide__slide">
        <img src="../../../../../assets/image/carousel15.webp" alt="Pizza" />
      </li>
      <li class="splide__slide">
        <img
          src="../../../../../assets/image/carousel16.webp"
          alt="Old Wild West"
        />
      </li>
      <li class="splide__slide">
        <img src="../../../../../assets/image/carousel17.webp" alt="Drink" />
      </li>
    </ul>
  </div>
</section>
<section
  class="splide pt-2 splide-offset color-bg"
  aria-label="Secondo Carosello di Immagini"
>
  <div class="splide__track">
    <ul class="splide__list">
      <li class="splide__slide">
        <img src="../../../../../assets/image/carousel15.webp" alt="Pizza" />
      </li>
      <li class="splide__slide">
        <img src="../../../../../assets/image/carousel10.webp" alt="Vegan" />
      </li>
      <li class="splide__slide">
        <img src="../../../../../assets/image/carousel7.webp" alt="Carrefour" />
      </li>
      <li class="splide__slide">
        <img src="../../../../../assets/image/carousel4.webp" alt="Envelope" />
      </li>
      <li class="splide__slide">
        <img src="../../../../../assets/image/carousel13.webp" alt="Kfc" />
      </li>
      <li class="splide__slide">
        <img src="../../../../../assets/image/carousel1.webp" alt="Sushi" />
      </li>
      <li class="splide__slide">
        <img src="../../../../../assets/image/carousel8.webp" alt="Carrots" />
      </li>
      <li class="splide__slide">
        <img
          src="../../../../../assets/image/carousel3.webp"
          alt="Burger King"
        />
      </li>
      <li class="splide__slide">
        <img src="../../../../../assets/image/carousel6.webp" alt="mcDonald" />
      </li>
      <li class="splide__slide">
        <img
          src="../../../../../assets/image/carousel16.webp"
          alt="Old Wild West"
        />
      </li>
      <li class="splide__slide">
        <img src="../../../../../assets/image/carousel12.webp" alt="Sushi" />
      </li>
      <li class="splide__slide">
        <img src="../../../../../assets/image/carousel2.webp" alt="Burger" />
      </li>
      <li class="splide__slide">
        <img src="../../../../../assets/image/carousel9.webp" alt="IceCream" />
      </li>
      <li class="splide__slide">
        <img src="../../../../../assets/image/carousel5.webp" alt="Donuts" />
      </li>
      <li class="splide__slide">
        <img
          src="../../../../../assets/image/carousel11.webp"
          alt="DeliverooHop"
        />
      </li>
      <li class="splide__slide">
        <img src="../../../../../assets/image/carousel14.webp" alt="Sushi" />
      </li>
      <li class="splide__slide">
        <img src="../../../../../assets/image/carousel17.webp" alt="Drink" />
      </li>
    </ul>
  </div>
</section>
