<div class="container-fluid position-relative text-center hero-bg color-bg">
  <div class="row align-items-center">
    <div class="col-lg-4 d-none d-lg-block">
      <img
        src="../../../../../assets/image/deliverooEnvelope.png"
        alt="Left Image"
      />
    </div>
    <div class="col-12 col-sm-6 col-lg-4">
      <h1 class="color-text">
        I piatti dei ristoranti che ami e la spesa, a domicilio
      </h1>
      <div class="input-container mt-3 bg-light p-4 color-bg">
        <p class="input-text color-text">
          Inserisci un indirizzo per scoprire le opzioni disponibili nella tua
          zona
        </p>
        <div class="input-group">
          <input
            type="text"
            class="form-control rounded-input m-0"
            placeholder="Inserisci il tuo indirizzo"
          />
          <button
            class="btn DeliverooColor rounded-button fw-bold"
            type="button"
          >
            Cerca
          </button>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-lg-4 d-none d-sm-block">
      <img
        src="../../../../../assets/image/deliverooBurger.png"
        alt="Right Image"
        id="rightImage"
      />
    </div>
  </div>
</div>
