.input-position {
  width: 200px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.hero-bg {
  background-image: url("../../../../../assets/image/deliverooStrip.png");
  background-repeat: no-repeat;
  height: 475px;
  background-size: 600px;
  background-position: 120px;
}
.container-fluid {
  overflow-x: hidden;
  position: relative;
}
#rightImage {
  margin-left: -80px;
}
@media (max-width: 768px) {
  .hero-bg {
    height: 400px;
    overflow-y: hidden;
  }
  #rightImage {
    margin-left: -150px;
  }
}
@media (max-width: 576px) {
  .hero-bg {
    height: 280px;
  }

  .row.align-items-center {
    height: 100%;
  }

  .col-lg-8 {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.rounded-input {
  border-radius: 25px;
  margin-right: 10px;
  padding: 10px 15px;
  flex: 1;
}

.rounded-button {
  border-radius: 25px;
  padding: 10px 20px;
}
.DeliverooColor {
  background-color: #00ccbc;
  color: #000000;
}
.DeliverooColor:hover {
  background-color: #00b3a6;
  color: #ffffff;
}
.color-bg {
  background-color: var(--color-bg) !important;
}

.color-text {
  color: var(--color-text) !important;
}
.input-container {
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.input-text {
  font-size: 1rem;
  margin-bottom: 1rem;
}

.input-group {
  display: flex;
  align-items: center;
}

.form-control {
  border: 2px solid #35b8b2;
  border-radius: 8px 0 0 8px;
  padding: 0.75rem 1rem;
  font-size: 1rem;
}

.form-control:focus {
  border-color: #28a745;
  box-shadow: none;
}

.btn.DeliverooColor {
  border-radius: 0 8px 8px 0;
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
}

.autocomplete-list {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 0.5rem;
  border: 1px solid #ddd;
  border-radius: 8px;
  max-height: 200px;
  overflow-y: auto;
}

.autocomplete-list li {
  padding: 0.5rem;
  cursor: pointer;
}

.autocomplete-list li:hover {
  background-color: #f1f1f1;
}
