<div class="row faq-container color-bg color-text">
  <div class="col-12 col-lg-4 faq-sidebar">
    <ul class="mx-2">
      <li>
        <a (click)="scrollTo('suDeliveroo')">{{
          "FAQ.SU_DELIVEROO" | translate
        }}</a>
      </li>
      <li>
        <a (click)="scrollTo('utilizzareDeliveroo')">{{
          "FAQ.UTILIZZARE_DELIVEROO" | translate
        }}</a>
      </li>
      <li>
        <a (click)="scrollTo('domandeOrdine')">{{
          "FAQ.DOMANDE_SUL_ORDINE" | translate
        }}</a>
      </li>
      <li>
        <a (click)="scrollTo('speseTariffe')">{{
          "FAQ.SPESE_E_TARIFFE" | translate
        }}</a>
      </li>
    </ul>
  </div>

  <div class="col-12 col-lg-7 faq-content">
    <section id="suDeliveroo">
      <h2>{{ "FAQ.SU_DELIVEROO" | translate }}</h2>
      <h3>{{ "FAQ.COS_E_DELIVEROO" | translate }}</h3>
      <p>{{ "FAQ.COS_E_DELIVEROO_DESC" | translate }}</p>
      <h3>{{ "FAQ.STORIA_DELIVEROO" | translate }}</h3>
      <p>{{ "FAQ.STORIA_DELIVEROO_DESC" | translate }}</p>
      <p>{{ "FAQ.STORIA_DELIVEROO_EXTRA" | translate }}</p>
      <p>{{ "FAQ.STORIA_DELIVEROO_GLOBAL" | translate }}</p>
    </section>

    <section id="utilizzareDeliveroo">
      <h2>{{ "FAQ.UTILIZZARE_DELIVEROO" | translate }}</h2>
      <h3>{{ "FAQ.COME_FUNZIONA" | translate }}</h3>
      <p>{{ "FAQ.COME_FUNZIONA_DESC" | translate }}</p>
      <p>{{ "FAQ.COME_FUNZIONA_ACCETTATO" | translate }}</p>
      <p>{{ "FAQ.COME_FUNZIONA_PRE_ORARI" | translate }}</p>
      <h3>{{ "FAQ.RESPONSABILE_ORDINE" | translate }}</h3>
      <p>{{ "FAQ.RESPONSABILE_ORDINE_DESC" | translate }}</p>
      <p>{{ "FAQ.PARTNER_RESPONSABILITA" | translate }}</p>
    </section>

    <section id="domandeOrdine">
      <h2>{{ "FAQ.DOMANDE_SUL_ORDINE" | translate }}</h2>
      <h3>{{ "FAQ.IMPREVISTI_ORDINE" | translate }}</h3>
      <p>{{ "FAQ.IMPREVISTI_DESC" | translate }}</p>
      <h3>{{ "FAQ.ORDINE_DIMENTICATO" | translate }}</h3>
      <p>{{ "FAQ.ORDINE_DIMENTICATO_DESC" | translate }}</p>
      <h3>{{ "FAQ.RITARDO_ORDINE" | translate }}</h3>
      <p>{{ "FAQ.RITARDO_DESC" | translate }}</p>
      <h3>{{ "FAQ.ANNULLA_ORDINE" | translate }}</h3>
      <p>{{ "FAQ.ANNULLA_ORDINE_DESC" | translate }}</p>
    </section>

    <section id="speseTariffe">
      <h2>{{ "FAQ.SPESE_E_TARIFFE" | translate }}</h2>
      <h3>{{ "FAQ.FUNZIONAMENTO_SPESE" | translate }}</h3>
      <p>{{ "FAQ.FUNZIONAMENTO_SPESE_DESC" | translate }}</p>
      <h3>{{ "FAQ.SPESE_CONSEGNA" | translate }}</h3>
      <p>{{ "FAQ.SPESE_CONSEGNA_DESC" | translate }}</p>
      <h3>{{ "FAQ.SPESE_SERVIZIO" | translate }}</h3>
      <p>{{ "FAQ.SPESE_SERVIZIO_DESC" | translate }}</p>
      <h3>{{ "FAQ.SUPPLEMENTO" | translate }}</h3>
      <p>{{ "FAQ.SUPPLEMENTO_DESC" | translate }}</p>
    </section>
  </div>
</div>
