<div class="container-fluid">
  <footer
    class="row row-cols-1 row-cols-sm-2 row-cols-md-4 border-top px-2 pt-3"
  >
    <div class="col mb-3 pt-3 ps-3">
      <h5>Scopri Deliveroo</h5>
      <ul class="nav flex-column">
        <li class="nav-item mb-2">
          <a href="#" class="nav-link p-0 text-light">Chi siamo</a>
        </li>
      </ul>
    </div>
    <div class="col mb-3 pt-3 ps-3">
      <h5>Note Legali</h5>
      <ul class="nav flex-column">
        <li class="nav-item mb-2">
          <a href="#" class="nav-link p-0 text-light">Termini & Condizioni</a>
        </li>
        <li class="nav-item mb-2">
          <a href="#" class="nav-link p-0 text-light"
            >Informativa sulla privacy</a
          >
        </li>
      </ul>
    </div>

    <div class="col mb-3 pt-3 ps-3">
      <h5>Aiuto</h5>
      <ul class="nav flex-column">
        <li class="nav-item mb-2">
          <a href="#" class="nav-link p-0 text-light">Contatti</a>
        </li>
        <li class="nav-item mb-2">
          <a href="#" class="nav-link p-0 text-light">FAQ</a>
        </li>
      </ul>
    </div>

    <div class="col mb-3 pt-3 ps-3">
      <h5>Porta Deliveroo con te</h5>
      <ul class="nav flex-column">
        <li class="nav-item mb-2">
          <img
            src="../../../assets/image/appStore.png"
            alt=""
            class="imgButton"
          />
        </li>
        <li class="nav-item mb-2">
          <img
            src="../../../assets/image/googlePlay.png"
            alt=""
            class="imgButton"
          />
        </li>
      </ul>
    </div>
  </footer>
</div>
