<div class="container-fluid">
  <footer
    class="row row-cols-1 row-cols-sm-2 row-cols-md-5 px-2 pt-3 gap-md-2 gap-0 justify-content-center"
  >
    <div class="col mb-3 pt-3 ps-3">
      <h5>{{ "FOOTER.DISCOVER_DELIVEROO" | translate }}</h5>
      <ul class="nav flex-column">
        <li class="nav-item mb-2">
          <a href="#" class="nav-link p-0 text-light">{{
            "FOOTER.ABOUT_US" | translate
          }}</a>
        </li>
      </ul>
    </div>
    <div class="col mb-3 pt-3 ps-3">
      <h5>{{ "FOOTER.LEGAL_NOTES" | translate }}</h5>
      <ul class="nav flex-column">
        <li class="nav-item mb-2">
          <a href="#" class="nav-link p-0 text-light">{{
            "FOOTER.TERMS_CONDITIONS" | translate
          }}</a>
        </li>
        <li class="nav-item mb-2">
          <a href="#" class="nav-link p-0 text-light">{{
            "FOOTER.PRIVACY_POLICY" | translate
          }}</a>
        </li>
      </ul>
    </div>

    <div class="col mb-3 pt-3 ps-3">
      <h5>{{ "FOOTER.HELP" | translate }}</h5>
      <ul class="nav flex-column">
        <li class="nav-item mb-2">
          <a href="#" class="nav-link p-0 text-light">{{
            "FOOTER.CONTACT" | translate
          }}</a>
        </li>
        <li class="nav-item mb-2">
          <a href="#" class="nav-link p-0 text-light">{{
            "FOOTER.FAQ" | translate
          }}</a>
        </li>
      </ul>
    </div>

    <div class="col mb-3 pt-3 ps-3">
      <h5>{{ "FOOTER.BRING_DELIVEROO_WITH_YOU" | translate }}</h5>
      <ul class="nav flex-column">
        <li class="nav-item mb-2">
          <img
            src="../../../assets/image/appStore.png"
            alt=""
            class="imgButton"
          />
        </li>
        <li class="nav-item mb-2">
          <img
            src="../../../assets/image/googlePlay.png"
            alt=""
            class="imgButton"
          />
        </li>
      </ul>
    </div>
  </footer>
</div>
